.nav-menu-button{
  color: #FFFFFF;
}

.navbar-nav>li>.dropdown-menu{
  margin-top: 12px;
}

.dropdown{
  cursor: pointer;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 1.2em;
  color: #000;
  :hover{
    color: #000;
  }
}

.navbar-inverse{
    background-color: #FFF !important;
    border:none;
    border-bottom: 2px solid #000;
    border-radius: 0;
}

.navbar-inverse .active {
  color: #000;
  :hover{
      color: #000;
  }
}

.navbar-inverse .navbar-brand{
    color: #000 !important;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
    color: #000 !important;
}

.navbar-inverse .navbar-nav>li>a{
    color: #000 !important;
    :hover{
        color: #000 !important;
    }
}

@color_principal: #37af04;
@color_secundario: #5c595d;
@color_gris1: #e8e8e8;
@color_gris_hover1: #f5f5f5;

//FOOTER
footer{
  background-color: @color_secundario;
  margin-top: 3%;
  color: #FFFFFF;
  a:hover{
    text-decoration: none !important;
    color: #FFFFFF;
  }
  ul{
    margin-top: 20px;
    li.title_footer{
      font-weight: bolder;
    }
    li.option_footer{
      cursor: pointer;
    }
  }
}

.border-radius4{
    border-radius: 4px;
}

.w100{
    width: 100%;
}

.bg-border-info {
    border: 1px solid #5bc0de;
}

.bg-border-warning {
    border: 1px solid #f0ad4e;
}

.bg-border-success {
    border: 1px solid #449d44;
}

.bg-border-danger {
    border: 1px solid #ff0000;
}

.font-size1em{
    font-size: 1em;
}

//END FOOTER